@model Persona

<h1>Nombre Completo</h1>

@if (true)
{
    <div>
        <label class="badge bg-warning">@Model.NombreCompleto</label>
    </div>

    <div>
        <label asp-for="Nombre"></label>

        <span>
            @if (Model.Nombre is not null)
            {
                @Model.Nombre
            }
            else
            {
                <span class="text-danger">"Nos vemos en disney"</span>
            }
        </span>


    </div>
    <div>
        <label asp-for="Apellido"></label>

        <span>@Model.Apellido</span>
    </div>
    <div>
        <label asp-for="Email"></label>
    </div>
    <div>
        <input asp-for="Dia"/>
        <input asp-for="Hora"/>
    </div>
}





